<body class="IndexBody1">
<main>
    <section class="masthead_index">
        <div>
            <h1 class="title">Take Control of Your Financial Future</h1>
            <p>Join thousands of users who trust Just Financial to manage their finances, track expenses, and achieve their financial goals.</p>
            <div class="menu-buttons">
                <a href="login">Log In</a>
                <a href="register">Register</a>
            </div>
        </div>
    </section>
    
</main>
</body>
